<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/inicio.css">
    <link rel="stylesheet" href="../css/nextpage.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="View/css/img/NP.png">
    <title>Next Page</title>
</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="/Next/inicio.html"><img src="../css/img/NP.png" alt="Logo de marca"></a>
            <P class="next-logo">Next Page</P>
        </div>

        <nav>
            <ul class="nav-links">
                <li><a href="./categoria.html"> CATEGORIAS</a></li>
                <li><a href="./oferts.html"> OFERTAS</a></li>
            </ul>
        </nav>
        <a href="#" class="btn btn-car"><button>Carrito</button></a>
        <br>
        <a href="../login.php" class="btn"><button>Login</button></a>
    </header>