<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/afterinicio.css">
    <link rel="stylesheet" href="../css/nextpage.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="View/css/img/NP.png">
    <title>Next Page</title>
</head>

<header class="header">
    <div class="logo">
        <a href="../backhome.html"><img src="../css/img/NP.png" alt="Logo de marca"></a>
    </div>
    <P class="next-logo">Next Page</P>
    <div class="bar">
        <nav class="menu-nav">
            <ul class="nav-links">
                <li><a href="categoriaAfter.html" class="link"> CATEGORIAS</a></li>
                <li><a href="ofertsAfter.html" class="link"> OFERTAS</a></li>
            </ul>
        </nav>
    </div>
    <a href="#" class="btn btn-car"><button>Carrito</button></a>
    <br>
    <div class="menu">
        <div class="select">
            <span class="cuenta" id="abrir">Cuenta</span>

            <div class="config">
                <ul class="dropmenu" id="nav">
                    <li><a href="settings.php" class="link-conf">Configuracion</a></li>
                    <li><a href="/Model/logoutintel.php" class="link-conf">Log out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>