<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="View/css/home.css">
    <link rel="shortcut icon" href="View/css/img/NP.png">
    <title>Next Page</title>
</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="inicio.html"><img src="View/css/img/NP.png" alt="Logo de marca"></a>
            <P>Next Page</P>
        </div>

        <nav>
            <ul class="nav-links">
                <li><a href="#"> CATEGORIAS</a></li>
                <li><a href="#"> MAS LEIDOS</a></li>
                <li><a href="#"> OFERTAS</a></li>
                <li><a href="#"> CONTACTANOS</a></li>
            </ul>
        </nav>
        <a href="#" class="btn btn-car"><button>Carrito</button></a>
        <br>
        <a href="View/login.php" class="btn"><button>Login</button></a>
    </header>
    <main>
        <section class="front">
            <div class="container-incio">

            </div>
        </section>

    </main>
</body>

</html>